.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /*max-width: 100%;*/
    height: 70vh;
    margin: 80px;
    padding: 50px;
    background-color: #bfd7e09a;
    border-radius: 15px;
}

.inputs{
    width: 50%;

}