* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }

.bg-image{
  background-image: url("../background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;  
}

.navbar{
  background-color:#a7caffa2 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container-fluid{
  align-items: center !important;
  text-align:center !important;
  padding: 2px;
  margin: 0.2em;
}

.navbar-brand{
  margin: 5px !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.socialmedia{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 95%;
}

#navbarSupportedContent{
  text-align: center;
  justify-content: end;
}

.nav-item{
  margin: 2px;
  border: 1px solid #9ccaff;
  border-radius: 3px;
}

.nav-link:hover {
  background-color: #abd6fc;
  border-radius: 10px;
}

.nav-link:active{	
background-color:#a4d7eb;
border-radius: 10px;
}

footer{
  margin-top: 20px;
}